/* .EmployeeDeleteModalButton {

    margin-left: .25rem;
    width: 5rem;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;

    border-radius: 5px;
    border: 1px solid #FE595D;
    color: white;
    background-color: #FE595D;

}

.EmployeeDeleteModalButton:hover  {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 1);

}

.EmployeeDeleteModalButton:active  {
    cursor: pointer;
    color: #FE595D;
    background-color: rgba(255, 255, 255, .5);
} */

/* ----------------------- */
.EmployeeDeleteModalButton {
    margin: 1rem .5rem 1rem .5rem;
    width: 12rem;
    height: 1.8rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;

}

.EmployeeDeleteModalButton:enabled {
    color: var(--buttonColor);
    background-color: var(--buttonBackgroundColor);
    border: var(--buttonBorder);


    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-property: border, background-color;

    /* animation-name: none;
    animation-delay: none;
    animation-duration: .3s;
    animation-timing-function: calc();
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: initial; */


}

.EmployeeDeleteModalButton:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBackgroundColor);
    border: var(--buttonDisabledBorder);

}

.EmployeeDeleteModalButton:enabled:hover {
    color: var(--buttonHoverColor);
    background-color: var(--buttonHoverBackgroundColor);
    border: var(--buttonHoverBorder);
    cursor: pointer;
}

.EmployeeDeleteModalButton:enabled:active{
    color: var(--buttonActiveColor);
    background-color: var(--buttonActiveBackgroundColor);
    border: var(--buttonActiveBorder);
    cursor: pointer;
}
