
.EmployeesListItemHeaderContainer {
    display: flex;
    margin: 0 0 1rem 0;
    text-wrap: nowrap;
    width: fit-content;
    /* border: blue 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerGeneric {
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    width: 8rem;
    /* border: green 2px solid; */
  }

.EmployeesListItemHeaderItemContainerID {
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    width: 2rem;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerED {
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    width: 2rem;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerAD {
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    width: 2rem;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerName {
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    width: 10rem;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerPhone {
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    width: 6rem;
    /* border: green 2px solid; */
  }



  .EmployeesListItemHeaderItemContainerEmail {
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    width: 12rem;
    /* border: green 2px solid; */
  }


  .EmployeesListItemHeaderItemContainerLang {
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    width: 5rem;
    /* border: green 2px solid; */
  }

  .EmployeesListItemHeaderItemContainerInst {
    display: flex;
    flex-direction: column;
    margin: 0 .15rem 0 .15rem;
    align-items: center;
    width: 5rem;
    /* border: green 2px solid; */
  }




.EmployeesListItemHeaderItemH4{
    margin: 0;
    text-wrap: nowrap;
    width: fit-content;
    /* border: 1px darkgrey solid; */
}

.EmployeesListItemHeaderItemP{
    margin: 0;
    text-wrap: nowrap;
    width: fit-content;
    /* border: 1px orange solid; */
}

.EmployeesListItemHeaderBorder {
    border: 0.5px solid var(--time-line);
    margin-left: 90px;
  }
