#NavigationUlHorizontal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem;
    padding: 2rem 0 2rem 0;
    border: blue solid 2px;
}

#NavigationProfileButton{
    width: 3rem;
    margin: 0 0 0 1rem;
    /* border: 2px pink dashed; */
}

#NavigationImgLogo{
    width: 3rem;
    margin: 0 1rem 0 0;
}


.NavigationTopBarUlLi{
    display: inline;
    list-style-type: none;
}

#NavigationUlVertical{
    display: inline-flex;
    flex-direction: column;
    margin: 2rem 2rem 0 2rem;
    padding: 2rem 0 2rem 0;
    border: green solid 2px;
}


.NavigationUlVerticalLi{
    list-style-type: none;
}


/* .NavigationDropdownUlLi{
    list-style-type: none;
} */

/* .NavigationDropdownUlLiHidden{
    display: none;
} */
